# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# Django
*.log
*.sqlite3
db.sqlite3
media/
staticfiles/

# Secret files
.env
local_settings.py

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db