{% extends "base.html" %}

{% block title %} 
About
{% endblock title %} 

{% block content %} 
<div class="container  ms-1">
<h1>About City Hospital:</h1>
<hr>
<p>City Hospital is a modern healthcare center dedicated to providing compassionate and high-quality medical care. Our hospital brings together a team of experienced doctors, skilled nurses, and advanced medical facilities to ensure the best outcomes for every patient.
<br><br>We offer specialized departments including Cardiology, Neurology, Pediatrics, Dermatology and Psychology, each led by expert professionals committed to excellence.
<br><br>City Hospital, we combine technology with a personal touch — caring for every patient as part of our family.</p>
</div>
{% endblock content %} 