{% extends "base.html" %}

{% block title %} 
Contact
{% endblock title %} 

{% block content %} 

<div class="container ms-1">
    <h1>Contact Us:</h1>
    <hr>
    We’re here to help you with any questions, appointments, or emergencies. Reach out to us using the details below:
<br><br>
• 📍 Address:
City Hospital, Main Road, Chromepet, Chennai, Tamil Nadu
<br><br>
• 📞 Phone:
+91 98123 45678, +91 90001 95954
<br><br>
• ✉️ Email:
info@cityhospital.com
<br><br>
• 🕒 Working Hours:
24x7
</div>
{% endblock content %} 